<ion-header>
  <ion-toolbar>
    <ion-title>Company</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="addNewCompany()" tappable>
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let company of companies">
      <ion-label>
        <h2>{{ company.name }}</h2>
        <p>{{ company.address }}</p>
      </ion-label>
<!--      <ion-button (click)="selectCompany(company)">Edit</ion-button>-->
      <ion-button color="danger" (click)="delete(company.id)">Delete</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
