<!-- src/app/components/employees/employees.component.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>Employees</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let employee of employees">
      <ion-label>
        <h2>{{ employee.first_name }} {{ employee.last_name }}</h2>
        <p>{{ employee.position }} - {{ employee.department }}</p>
      </ion-label>
      <ion-button (click)="selectEmployee(employee)">Edit</ion-button>
      <ion-button color="danger" (click)="deleteProfile(employee.user_id)">Delete</ion-button>
    </ion-item>
  </ion-list>

  <form *ngIf="selectedEmployee">
      <ion-label>
        <ion-item>
          <ion-input [(ngModel)]="selectedEmployee.first_name" name="first_name" placeholder="First Name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="selectedEmployee.last_name" name="last_name" placeholder="Last Name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="selectedEmployee.position" name="position" placeholder="Position"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="selectedEmployee.department" name="department" placeholder="Department"></ion-input>
        </ion-item>
      </ion-label>
      <ion-button>Update</ion-button>
      <ion-button color="light" (click)="selectedEmployee = null">Cancel</ion-button>
  </form>

  <form>
    <ion-label>
      <ion-item>
        <ion-input [(ngModel)]="newEmployee.first_name" name="first_name" placeholder="First Name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="newEmployee.last_name" name="last_name" placeholder="Last Name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="newEmployee.position" name="position" placeholder="Position"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="newEmployee.department" name="department" placeholder="Department"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="newEmployee.salary" name="salary" placeholder="Salary" type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="newEmployee.email" name="email" placeholder="Email Address"></ion-input>
      </ion-item>
    </ion-label>
    <ion-button (click)="createProfile()">Create</ion-button>
  </form>
</ion-content>
