<!-- src/app/pages/reset-password/reset-password.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <form (ngSubmit)="resetPassword($event)">
      <ion-item>
        <ion-label position="stacked">New Password</ion-label>
        <ion-input
          [(ngModel)]="newPassword"
          name="newPassword"
          type="password"
          required
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Confirm New Password</ion-label>
        <ion-input
          [(ngModel)]="confirmPassword"
          name="confirmPassword"
          type="password"
          required
        ></ion-input>
      </ion-item>
      <div class="ion-text-center">
        <ion-button [disabled]="newPassword === '' || newPassword !== confirmPassword" expand="full" type="submit">Reset Password</ion-button>
      </div>
    </form>
  </ion-list>
</ion-content>
