<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Homepage
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Supabase Employee Management System</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list>
      <ion-item button (click)="navigateTo('/employee')">Employees</ion-item>
      <ion-item button (click)="navigateTo('/company')">Company</ion-item>
      <!-- Add more menu items here -->
    </ion-list>
  </div>
</ion-content>
