<ion-header>
  <ion-toolbar>
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-avatar
    [avatarUrl]="this.profile?.avatar_url"
    (upload)="updateProfile($event)"
  >
  </app-avatar>
  <form>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input readonly type="email" [value]="session?.user?.email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">First Name</ion-label>
      <ion-input
        type="text"
        name="first_name"
        [(ngModel)]="profile.first_name"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Last Name</ion-label>
      <ion-input
        type="text"
        name="last_name"
        [(ngModel)]="profile.last_name"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Position</ion-label>
      <ion-input
        type="url"
        name="position"
        [(ngModel)]="profile.position"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Department</ion-label>
      <ion-input
        type="url"
        name="department"
        [(ngModel)]="profile.department"
      ></ion-input>
    </ion-item>

    <div class="ion-text-center">
      <ion-button fill="clear" (click)="updateProfile()"
        >Update Profile</ion-button
      >
    </div>
  </form>

  <div class="ion-text-center">
    <ion-button fill="clear" (click)="signOut()">Log Out</ion-button>
  </div>
</ion-content>
